.gradle/
build/
.DS_Store
src/test/config/config.properties
src/test/config/config.json
/target/
.settings/
.idea/
*.iml
# Eclipse Related
.project
.classpath
.checkstyle
bin/
out/
*.secret
#Sdkman
.sdkmanrc
#Release process
gradle.properties
release_notes.md