name: Integration tests sdk
on:
  pull_request:
    branches:
      - combined-sdk

permissions:
  contents: read

jobs:
  core:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '8'
      - name: All Tests
        if: startsWith(github.head_ref, 'codegen-release')
        env:
          JAVA_COLLABORATOR_ID: ${{ secrets.JAVA_COLLABORATOR_ID }}
          JAVA_COLLABORATOR: ${{ secrets.JAVA_COLLABORATOR }}
          JAVA_ENTERPRISE_ID: ${{ secrets.JAVA_ENTERPRISE_ID }}
          JAVA_JWT_CONFIG: ${{ secrets.JAVA_JWT_CONFIG }}
          JAVA_USER_ID: ${{ secrets.JAVA_USER_ID }}
        run: ./gradlew integrationTest --stacktrace
      - name: Smoke Tests
        if: "!startsWith(github.head_ref, 'codegen-release')"
        env:
          JAVA_COLLABORATOR_ID: ${{ secrets.JAVA_COLLABORATOR_ID }}
          JAVA_COLLABORATOR: ${{ secrets.JAVA_COLLABORATOR }}
          JAVA_ENTERPRISE_ID: ${{ secrets.JAVA_ENTERPRISE_ID }}
          JAVA_JWT_CONFIG: ${{ secrets.JAVA_JWT_CONFIG }}
          JAVA_USER_ID: ${{ secrets.JAVA_USER_ID }}
        run: ./gradlew smokeTest --stacktrace
