name: Integration tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  core:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '8'
      - name: Run Tests
        env:
          JAVA_COLLABORATOR_ID: ${{ secrets.JAVA_COLLABORATOR_ID }}
          JAVA_COLLABORATOR: ${{ secrets.JAVA_COLLABORATOR }}
          JAVA_ENTERPRISE_ID: ${{ secrets.JAVA_ENTERPRISE_ID }}
          JAVA_JWT_CONFIG: ${{ secrets.JAVA_JWT_CONFIG }}
        run: ./gradlew integrationTest